ul {
    margin: 0;
    padding: 0;
}

.question {
    border-bottom: 1px solid #ccc;
    list-style-type: none;
    padding: 0;
    margin: 8px 0;
    padding: 4px 0 24px;
}

.cta {
    font-weight: bold;
    text-align: center;
    padding: 24px 0;
}